1. PYTHON BASICS

In [24]:
print("Anish Meghan Dharmapuri")

Anish Meghan Dharmapuri

In [25]:
""" 
this is a multiline comment
we can easily add multiple line comment 
by using 3 inverted commas 
"""

# this is a single line comment
print("this is a multiline comment")

this is a multiline comment

In [26]:
num = 10
boolean = True
character = "this is a string"
float = 85.5
salary = 20000.75
print(num)
print(boolean)
print(character)
print(float)
print(salary)

10
True
this is a string
85.5
20000.75

In [27]:
# Global variable
value = 100
def show_value():
    # Local variable with same name
    value = 50
    print("Inside function (Local value):", value)
show_value()
print("Outside function (Global value):", value)

Inside function (Local value): 50
Outside function (Global value): 100

2. OPERATORS

In [28]:
def arithmetic_operations(a,b):
    print("Addition:",a+b)
    print("Subtraction:",a-b)
    print("Multiplication:",a*b)
    if b!=0:
        print("Division:",a/b)
    else:
        print("Division:Cannot divide by zero")
arithmetic_operations(10,5)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [29]:
def increment_decrement():
    num=10
    #Increment
    num+=1
    print(num)
    # Decrement
    num-=1
    print(num)
increment_decrement()

11
10

In [30]:
a=20
b=20
if a==b:
    print("Both numbers are equal")
else:
    print("Numbers are not equal")

Both numbers are equal

In [31]:
a=15
b=10
print("a<b:",a<b)
print("a<=b:",a<=b)
print("a>b:",a>b)
print("a>=b:",a>=b)

a<b: False
a<=b: False
a>b: True
a>=b: True

In [32]:
a = 25
b = 40
if a>b:
    print("Larger number:", a)
    print("Smaller number:", b)
else:
    print("Larger number:", b)
    print("Smaller number:", a)

Larger number: 40
Smaller number: 25

3. LOOPS

In [33]:
for i in range(10):
    print("Bright IT Career")

Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career

In [34]:
i = 1
while i <= 20:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [35]:
a=10
b=20
print("a==b :",a==b)
print("a!=b :", a!=b)

a==b : False
a!=b : True

In [36]:
for i in range(1,21):
    if i % 2 == 0:
        print(i,"is Even")
    else:
        print(i,"is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even

In [37]:
a=25
b=40
c=30
largest=max(a,b,c)
print(largest)

40

In [38]:
num=10
while num<=20:
    if num%2==0:
        print(num)
    num+=1

10
12
14
16
18
20

In [39]:
i=1
while True:
    print(i)
    i+=1
    if i>10:
        break

1
2
3
4
5
6
7
8
9
10

In [40]:
num=153
temp=num
sum=0
while temp > 0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Armstrong Number

In [41]:
num = 7
flag = True

if num <= 1:
    flag = False
else:
    for i in range(2, num):
        if num % i == 0:
            flag = False
            break

if flag:
    print("Prime Number")
else:
    print("Not a Prime Number")

Prime Number

In [42]:
num = 121
temp = num
reverse = 0

while temp > 0:
    digit = temp % 10
    reverse = reverse * 10 + digit
    temp //= 10

if num == reverse:
    print("Palindrome")
else:
    print("Not a Palindrome")

Palindrome

In [43]:
num = 8

match num % 2:
    case 0:
        print("Even")
    case 1:
        print("Odd")

Even

In [44]:
gender = 'M'

match gender:
    case 'M':
        print("Male")
    case 'F':
        print("Female")
    case _:
        print("Invalid Input")

Male

4. ARRAYS

In [45]:
def average_array(arr):
    return sum(arr) / len(arr)
print(average_array([10,20,30,40]))

TypeError: 'int' object is not callable

In [ ]:
arr=[10,20,30,40]
element = 30
if element in arr:
    print("Index:", arr.index(element))
else:
    print("Element not found")

Index: 2

In [ ]:
def contains_value(arr,value):
    return value in arr
print(contains_value([1,2,3,4],3))

True

In [ ]:
def remove_element(arr,value):
    if value in arr:
        arr.remove(value)
    return arr
print(remove_element([1,2,3,4],3))

[1, 2, 4]

In [ ]:
def copy_array(arr):
    return arr.copy()
print(copy_array([5,6,7]))

[5, 6, 7]

In [ ]:
def insert_element(arr,pos,value):
    arr.insert(pos, value)
    return arr
print(insert_element([1,2,4],2,3))

[1, 2, 3, 4]

In [ ]:
def min_max(arr):
    return min(arr), max(arr)
print(min_max([10,5,20,8]))

(5, 20)

In [ ]:
def reverse_array(arr):
    return arr[::-1]
print(reverse_array([1, 2, 3, 4]))

[4, 3, 2, 1]

In [ ]:
def find_duplicates(arr):
    duplicates=[]
    for i in arr:
        if arr.count(i) > 1 and i not in duplicates:
            duplicates.append(i)
    return duplicates
print(find_duplicates([1, 2, 3, 2, 4, 1]))

[1, 2]

In [ ]:
arr1 = [1,2,3,4]
arr2 = [3,4,5,6]
common = list(set(arr1) & set(arr2))
print(common)

[3, 4]

In [ ]:
def remove_duplicates(arr):
    return list(set(arr))
print(remove_duplicates([1,2,2,3,4,4]))

[1, 2, 3, 4]

In [ ]:
def second_largest(arr):
    arr=list(set(arr))
    arr.sort()
    return arr[-2]
print(second_largest([10,20,30,40,50]))

40

In [ ]:
def second_largest_alt(arr):
    first = second = float('-inf')
    for num in arr:
        if num > first:
            second=first
            first=num
        elif num > second and num!=first:
            second=num
    return second
print(second_largest_alt([10, 20, 30, 40, 50]))

40

In [ ]:
def count_even_odd(arr):
    even=odd=0
    for num in arr:
        if num%2==0:
            even += 1
        else:
            odd += 1
    return even, odd
print(count_even_odd([1,2,3,4,5,6]))

(3, 3)

In [ ]:
def difference(arr):
    return max(arr) - min(arr)
print(difference([10, 5, 20, 8]))

15

In [ ]:
def contains_both(arr):
    return 12 in arr and 23 in arr
print(contains_both([12, 5, 23, 9]))

True

In [ ]:
def remove_duplicates_new(arr):
    new_arr=[]
    for num in arr:
        if num not in new_arr:
            new_arr.append(num)
    return new_arr
print(remove_duplicates_new([1,2,2,3,4,4]))

[1, 2, 3, 4]

5. STATIC

In [ ]:
class MyClass :
    static_var=10
print(MyClass.static_var)

10

In [ ]:
class MyClass:
    static_var=20
obj=MyClass()
print(obj.static_var)

20

In [ ]:
class MyClass:
    static_var=30
obj=MyClass()
obj.static_var=40
print(obj.static_var)
print(MyClass.static_var)

40
30

In [ ]:
class MyClass :
    static_var=30
MyClass.static_var=60
print(MyClass.static_var)
obj=MyClass()
print(obj.static_var)

60
60

6. STRINGS

In [ ]:
S1 = "HELLO"
S2 = "WORLD"
S3 = str("python")
S4 = """Multiline"""
print(S1,S2,S3,S4)

HELLO WORLD python Multiline

In [ ]:
str1 = "hello"
str2 = "world"
str3 = str1 + str2
print(str3)

helloworld

In [ ]:
str10 = "hello guys this is anish"
length = len(str10)
print(length)

24

In [ ]:
str7 = "HELLOWORLD"
print(str7[0:5])

HELLO

In [ ]:
str6 = "MYNAMEISANISH"
print(str6.index("ANISH"))

8

In [ ]:
import re
s="Hello123"
pattern="^[A-Za-z0-9]+$"
print(bool(re.fullmatch(pattern,s)))

True

In [ ]:
a = "Apple"
b = "banana"
print(a==b)
print(a!=b)

False
True

In [ ]:
a="MYNAMEISANISH"
print(a.startswith("MY"))
print(a.endswith("ANISH"))
print((a>"java")-(a<"java"))

True
True
-1

In [ ]:
str2 = "  THIS IS ANISH "
print(str2.strip())

THIS IS ANISH

In [ ]:
str3 = " HELLO ALL "
print(str3.replace("HELLO","HEY"))

 HEY ALL

In [ ]:
str4 = "apple,banana,orange"
print(str4.split(","))

['apple', 'banana', 'orange']

In [ ]:
num = 100
s = str(num)
print(s)

100

In [ ]:
str11 = "PythoN"
print(str11.upper())
print(str11.lower())

PYTHON
python

7. INHERITANCE

In [ ]:
class A:
    def show_A():
        print("This is class A")

    def display():
        print("This is again  class A")


class B(A):
    def show_B():
        print("This is class B")

    def display():
        print("This is again  class B")
class C(B):
    def show_C():
        print("This is class C")

    def display():
        print("This is again  class C")


obj1 = A
obj2 = B
obj3 = C

print(obj3.show_A()) # inherited method
print(obj3.display()) #method over ride 
print(obj3.show_B())

This is class A
None
This is again  class C
None
This is class B
None

8. ACCESS MODIFIERS

In [ ]:
class A:
    __x=10
    __y=20
    def __private_method(self):
        print("Private method inside class A")
    def main(self):
        print("Private field x:",self.__x)
        print("Private field y:",self.__y)
        self.__private_method()
class B(A):
    def access(self):
        try:
            print(self.__x)
        except:
            print("Cannot access private field from subclass")
        try:
            self.__private_method()
        except:
            print("Cannot access private method from subclass")
a=A()
a.main()
b=B()
b.access()

Private field x: 10
Private field y: 20
Private method inside class A
Cannot access private field from subclass
Cannot access private method from subclass

In [ ]:
class A:
    _x=100
    _y=200
    def _protected_method(self):
        print("Protected method inside class A")

class B:
    def access(self):
        obj=A()
        print("Accessing protected field:",obj._x)
        obj._protected_method()

b=B()
b.access()

Accessing protected field: 100
Protected method inside class A

In [ ]:
class C(A):
    def access_child(self):
        print("Accessing protected field from child:",self._x)
        self._protected_method()

c=C()
c.access_child()

Accessing protected field from child: 100
Protected method inside class A

In [ ]:
class A:
    x = 40
    y = 70
    def public(self):
        print("public method inside class A")
class B:
    def access(self):
        obj=A()
        print("accessing public field",obj.x)
        obj.public()
b=B()
b.access()

accessing public field 40
public method inside class A

9. ABSTRACT CLASS

In [ ]:
from abc import ABC,abstractmethod
class A(ABC):
    def method(self):
        print("this is not an abstract class")
    def method2(self):
        pass

In [ ]:
from abc import ABC,abstractmethod
class A(ABC):
    def normal_method(self):
        print("Non-abstract method in A")
    @abstractmethod
    def abstract_method(self):
        pass
class B(A):
    def abstract_method(self):
        print("Abstract method implemented in B")
    def access(self):
        ref=self
        ref.normal_method()
obj=B()
obj.access()

Non-abstract method in A

In [ ]:
from abc import ABC,abstractmethod
class A(ABC):
    @abstractmethod
    def abstract_method(self):
        pass
class B(A):
    def abstract_method(self):
        print("Abstract method implemented in B")
    def create_instance(self):
        obj=B()
        obj.abstract_method()
b=B()
b.create_instance()

Abstract method implemented in B

In [ ]:
from abc import ABC,abstractmethod
class A(ABC):
    def normal_method(self):
        print("Non-abstract method in A")
    @abstractmethod
    def abstract_method(self):
        pass
class B(A):
    def abstract_method(self):
        print("Abstract method implemented in B")
    def create_instance(self):
        obj=B()
        obj.normal_method()
b=B()
b.create_instance()

Non-abstract method in A

10. PACKAGES

In [ ]:
class A:
    def __init__(self):
        print("it is a constructor of class1 ")
    def method1(self):
        print("it is a method of class 1")
class B:
    def __init__(self):
        print("constructor of class B")
    def method2(self):
        print("it is a method of class B")

In [48]:
obj1=A()
obj2=B()

it is a constructor of class1
constructor of class B

11. FILES

In [53]:
f=open("sample.txt","w")
f.write("hello world")
f.close()

In [54]:
f= open("sample.txt","r")
data= f.read()
print(data)

hello world

In [55]:
with open("sample.txt","r") as f :
    for line in f:
        print(line.strip())

hello world

In [62]:
f = open("sample.txt","r")
f.seek(0)
print(f.read(5))
f.close()

hello

In [69]:
f = open("sample.txt","r")
f.seek(2)
print(f.read(10))
f.close()

llo world

In [71]:
import os 
file= "sample.txt"
print("Readable",os.access(file,os.R_OK))
print("writable",os.access(file,os.W_OK))

Readable True
writable True

In [77]:
class A:
    def __init__(self,a=None,b=None):
        if a is None and b is None:
            print("Default constructor")
        elif b is None:
            print("one argument constructor",a)
        else:
            print("two argument constructor",a,b)
obj1=A()
obj2=A(10)
obj3=A(10,40)

Default constructor
one argument constructor 10
two argument constructor 10 40

In [78]:
class A :
    def __init__(self,a = None):
        if a is None:
            print("super default constructor")
        else:
            print("super argument constructor",a)
class B(A):
    def __init__(self,a=None) :
        super().__init__(a)
        print("child constructor")
obj1=B()
obj2=B(100)

super default constructor
child constructor
super argument constructor 100
child constructor

In [81]:
class A:
    def __init__(self,a=None):
        print("constructor")
    def __private(self):
        print("Private constructor")
    def public(self):
        print("public constructor")
    def _protected(self):
        print("protected constructor")
obj=A()
obj._protected()
obj.public()

constructor
protected constructor
public constructor

In [83]:
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print("Name",self.name)
        print("Age",self.age)
obj=A("Anish",20)
obj.display()

Name Anish
Age 20

13. METHOD OVERLOADING