1. Create a program to create two class.
1.1. Create a constructor and a method for each class
1.2. Create a __init__.py for adding all packages
1.3. Import the respective packages
1.4. Call each class by creating an object to it
1.5. Create a program by all the above

In [ ]:
#both the classes and everything is done and is present in the pakage folder

In [8]:
from package import emp , manager

In [11]:
obj1 = emp("kartikey",19,3200000)
obj2 = manager("hanisha",20,840000)
obj3 = emp("srikanth",18,0) # :)

In [13]:
print("Employee details")
print(obj1.name)
print(obj1.age)
print(obj1.salary)
print("--------------------")
print(obj3.name)
print(obj3.age)
print(obj3.salary)

Employee details
kartikey
19
3200000
--------------------
srikanth
18
0

In [14]:
print("manager detials")
print(obj2.name)
print(obj2.age)
print(obj2.salary)

manager detials
hanisha
20
840000