1. Create a Dictionary with at least 5 key value pairs of the Student ID and Name
1.1. Adding the values in dictionary
1.2. Updating the values in dictionary
1.3. Accessing the value in dictionary
1.4. Create a nested loop dictionary
1.5. Access the values of nested loop dictionary
1.6. Print the keys present in a particular dictionary
1.7. Delete a value from a dictionary

In [3]:
student = {
    "90" : "kartikey",
    "B7" : "Srikanth",
    "68" : "Hanisha",
    "H3" : "Manish",
    "78" : "Ashutosh"
}#created a dict with 5 key and values

In [ ]:
student["81"] = "Hansika" #adding

In [5]:
student

{'90': 'kartikey',
 'B7': 'Srikanth',
 '68': 'Hanisha',
 'H3': 'Manish',
 '78': 'Ashutosh',
 '81': 'Hansika'}

In [ ]:
student["78"] = "ASH" #updaing

In [ ]:
student["81"] #accessing

'Hansika'

In [12]:
for id in student:
    print(id,student[id])

90 kartikey
B7 Srikanth
68 Hanisha
H3 Manish
78 ASH
81 Hansika

In [18]:
student = { #nested dect
    "90" : "kartikey",
    "B7" : "Srikanth",
    "marks":{"90":98 ,"B7":56}
   
}

In [20]:
for key in student:
    print(key) #key present in the dect

90
B7
marks

In [22]:
student["marks"]["90"] #accessing the elemnt of the nested dect

98

In [23]:
del student["marks"]

In [24]:
student

{'90': 'kartikey', 'B7': 'Srikanth'}