1. Different ways creating a string

In [1]:
#there are 3 ways to create a string using 

print("hello world")

print('hello world')

print("""
hello 
world
""")

hello world
hello world

hello
world

2. Concatenating two strings using + operator

In [3]:
print("hello " + "World")

hello World

3. Finding the length of the string

In [4]:
str = "So there was this one time in this imaginary world there was a little guy name kittu"

print(len(str))

84

4. Extract a string using Substring

In [ ]:
str = "Good bye world"

print(str[0:4])  # 0 is included and 4 is excluded

Good

5. Searching in strings using index()

In [ ]:
str = "So there was this one time in this imaginary world there was a little guy name kittu"

print(str.index("was")) # displays the index of W

9

6. Matching a String Against a Regular Expression With matches()

7. Comparing strings

In [8]:
str = "Good bye world"
str2 = "Good bye world"

print(str == str2)
print(str != str2)

True
False

8. startsWith(), endsWith() and compareTo()

In [11]:
str = "Good bye world"

print(str.startswith("goo")) # Return a bool value and is case sensitive 
print(str.endswith("world"))
#there is no compare to command in python

False
True

9. Trimming strings with strip()

In [18]:
# this removed teh spaces from a string 

str = "       hellow     guyyys   "
print(str.strip())

hellow     guyyys

10. Replacing characters in strings with replace()

In [19]:
str = "Good bye world"

print(str.replace("Good bye" , "hello"))

hello world

11. Splitting strings with split()

In [21]:
str = "So there was this one time in this imaginary world there was a little guy name kittu"

print(str.split()) # splits the string into a list of words

['So', 'there', 'was', 'this', 'one', 'time', 'in', 'this', 'imaginary', 'world', 'there', 'was', 'a', 'little', 'guy', 'name', 'kittu']

12. Converting integer objects to Strings

In [ ]:
n = int(input("Enter an integer"))

str3 = str(n)
print(str3) # the code is correct but is probably taking str the variable and not the data type

TypeError: 'str' object is not callable

13. Converting to uppercase and lowercase

In [25]:
str = "Good bye world"

print(str.upper())
print(str.lower())

GOOD BYE WORLD
good bye world